@charset "utf-8";

//共通設定
$sp: 768px;

@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

header,
footer {
  background-color: #C57D86;
}

section {
  margin-top: 70px;
  margin-bottom: 70px;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  color: #9C9CA1;
}

span {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
 color: #F5EFEA;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

ul, ol {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/*========================
.wrapperの設定
======================== */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*========================
.headerの設定
======================== */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/*========================
.navの設定
======================== */
.nav {
  &__list {
    justify-content: space-around;
    text-align: center;
    margin: 0 100px;
  }
}

.flex01 {
  font-size: 24px;

  &__item {
   flex: 1 1 20%;
   padding: 30px 0;
  }
}

/*========================
ファーストビューFVの設定
======================== */
.fv {
  background-color: #E2BEBA;
  // position: relative;

  &__inner {
    background-image: url(../images/cat01.png);
    background-repeat: no-repeat;
    background-size: 45% auto;
    background-position: right bottom;
    opacity: .3;
  }
  
  &__ttl {
    // color: #fff;
    font-family: 'Dancing Script', cursive;
    padding: 310px 0 200px 0;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
  }
}

.portfolio {
  font-size: 100px;
}

/*========================
Profileの設定
======================== */
.profile {
  &__introduction {
    line-height: 1.8em;
  }

  &__ttl {
    padding: 20px 0;
    margin: 30px 0;
    background-image: url(../images/catfootsteps.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center center;
    // opacity: .4;                                          //グレーアイコンと差し替えたら消す
  }

// プロフィール 左側 顔写真
  // img {
  //   width: 300px;
  // }
  
  &__flex {
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 80px;
  }

  &__flexL {
    margin-right: 50px;
  }

  // 右下の海外ドラマDVD
  &__flexRB {
    margin-top: 30px;  
  img {
    width: 20%;
    }
  }
}

// その他
.others {
  max-width: 1000px;
  margin: 0 auto;

  &__flexL,
  &__flexR {
    width: 50%;
    min-width: 350px;
  }

  &__flexL {
    margin-right: 50px;
    line-height: 1.9;
  }
}

.countries {
  margin-top: 20px;
}

// 職歴と派遣就業
.jobs {
  margin: 70px auto;
  // text-align: center;
  max-width: 1000px;

  &__h3 {
    padding: 10px 0;
  }

  &__flexL,
  &__flexR {
    width: 50%;
    min-width: 350px;
  }

  &__flexL {
    margin-right: 50px;
  }
}

// 知っておいて頂きたいことaboutme
.aboutme,
.break {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutme {
//background-color: #E2BEBA;
background-color: #C57D86;
color: #F5EFEA;

  &__flexL,
  &__flexR {
    width: 50%;
    min-width: 350px;
  }

  &__flexL {
    margin-right: 50px;
  }
}

/*========================
Worksの設定                                            
======================== */
.works {
  background-color: #F5F0EA;
  // margin-bottom: 50px;
  background-image: url(/images/cat02.png);
  background-position: right top;
  background-size: cover;
  padding-bottom: 70px;


  &__ttl {
    padding: 50px 0;
  }

  &__item {
    margin: 20px;         //??mgかけたら２段めがずれる
    width: 30%;
  }

  &__item img {
    max-width: 100%;
    min-width: 350px;
    vertical-align: bottom;
  }
}

.works h3 {
  font-size: 18px;
}

/*========================
Skillsの設定
======================== */
.skills {
  &__ttl {
    padding: 50px 0;
    margin-top: 0;
  }

  // &__meter {                        //skillsメーターの箱
  //   width: 400px;
  //   height: 250px;
  //   background-color: aquamarine;
  //   text-align: center;                          
  //   margin: 0 auto;
  // }

  &__period {
    text-align: center;
    padding-bottom: 50px;
}

  &__ttlH3 {
    margin-left: 55px;
    margin-bottom: 40px;
}
  .ttlDesign {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 50px;
  }

  .ttlOffice {
    margin-top: 50px;
  }

}

.flexDesign__container {
  margin-top: 30px;
}

.flexCoding,
.flexOffice,
.flexDesign {
  &__wrap {
    display: flex;
    }

    &__LR {
      display: flex;
      align-items: flex-start;        //ロゴが間延びしたのを修正
      margin-bottom: 30px;
      margin-left: 50px;
      width: 550px;      //テキストの右端終わりがセンターになるようにするため（コンテンツ幅1200, 両サイドmg50）
    }

    &__R {
      margin-left: 20px;
      margin-bottom: 30px;
    }
}

.flexDesign__R {
  margin: 0 20px 30px 0;
}

.flexCoding__LR img,
.flexDesign__LR img,
.flexOffice__LR img {
  width: 80px;
  height: 80px;
}

.ttlDesign {
  text-align: right;
}

.cat02 {
  width: 30%;
  height: auto;
  margin: auto;
  opacity: .7;
}

 .cat03 {
  width: 35%;
  height: auto;
  margin: 0 auto;
  opacity: .7;
}

/*========================
Contactの設定
======================== */
.contact {
  background-color: #F5EFEA;
  position: relative;
  margin-bottom: 0;
}

.form {
  padding: 1em;
  text-align: center;
}

.label {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.label p {
  text-align: left;
  display: inline-block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 400px;
  padding: 0.5em 1em;
  border: 2px solid #aaa;
  border-radius: 10px;
  margin: 10px 0 20px;
}

textarea {
  height: 11em;
  width: 500px;
}

input[type="submit"] {
  border-radius: 20px;
  background-color: #C57D86;
  color: #F5EFEA;
  width: 150px;
  height: 50px;
  font-weight: bold;
}

.required {
  color: red;
  font-size: 16px;
}

.contactBg {
  position: absolute;
  top: 610px;
  background-image: url(../images/cat04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
   height: 270px;
  opacity: .5;
}


/*========================
footerの設定
======================== */
.footer {
  height: 60px;
  text-align: center;
}

.copyright {
  line-height: 60px;
  color:#F5EFEA;
}