@charset "UTF-8";
/*共通設定
--------------------------------*/
.wrapper {
  margin: 0 auto;
  max-width: 767px;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section {
  margin-top: 80px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .section {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

.h2deco {
  border-left: 3px dotted #14C35E;
  padding-left: 7px;
}

h3 {
  font-size: 16px;
  margin: 20px 20px 30px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  h3 {
    font-size: 18px;
  }
}

.h3deco {
  border-bottom: 3px dotted #14C35E;
  padding-bottom: 5px;
}

p {
  font-size: 14px;
  line-height: 1.8;
}

@media (min-width: 768px) {
  p {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  background-color: salmon;
  opacity: 1;
}

ul,
ol {
  list-style-type: none;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*----------ボタン---------------*/
.btn {
  font-size: 1.2rem;
  width: 200px;
  background: #14C35E;
  color: #fff;
  border-radius: 20px;
  padding: 10px 10px;
}

input[type="submit"] {
  width: 180px;
}

/* ハンバーガーメニュー
--------------------------------*/
/* -----ハンバーガーメニューここまで------*/
/*  ヘッダー
--------------------------------*/
.header__inner {
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .header__inner {
    display: flex;
  }
}

.header__ttl {
  text-align: center;
  width: 250px;
}

.nav__item {
  padding: 12px;
  text-align: center;
}

header p {
  margin: 20px auto;
}

/*  FV（スライドショーswiper使う予定）
--------------------------------*/
.fv img {
  width: 100%;
}

/*  当院について about
--------------------------------*/
.about {
  margin-top: 0;
}

.about__ttl {
  margin-top: 0;
}

.about__txt {
  padding: 20px 30px;
}

/*  託児サービス kidsSvc
--------------------------------*/
.kidsSvc {
  margin-top: 0;
  background-color: #FFFAF2;
}

.kidsSvc__txt {
  padding: 20px 30px;
}

.kidsSvc img {
  padding-bottom: 80px;
}

/*  診療案内 treatInfo
--------------------------------*/
.treatInfo {
  margin-top: 30px;
}

.treatInfo h2 {
  padding-top: 0;
  margin-bottom: 50px;
}

.treat {
  /*  診療時間 hours
--------------------------------*/
  /*  アクセス
--------------------------------*/
  /*  フッター
--------------------------------*/
}

@media (min-width: 768px) {
  .treat {
    min-width: 1200px;
  }
}

.treat__01 p,
.treat__02 p,
.treat__03 p {
  padding: 0 30px;
}

.treat__02, .treat__03 {
  margin-top: 90px;
}

.treat .hours {
  background-color: #FFFAF2;
  padding-bottom: 50px;
}

.treat .tableWrap {
  max-width: 100%;
  overflow-x: scroll;
  margin: 0 auto;
}

.treat table {
  margin-top: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.treat table,
.treat td,
.treat th {
  text-align: center;
}

.treat th {
  color: #fff;
  padding: 4px 12px;
}

.treat td {
  background: #f5f6f8;
  padding: 4px 12px;
}

.treat table th,
.treat table td {
  border: none;
  padding: 30px;
}

.treat .tableWraptxt {
  max-width: 100%;
  margin: 0 auto;
}

.treat .tableWraptxt__scroll {
  margin-top: 8px;
}

.treat .tableWraptxt__txt {
  text-align: center;
  margin-top: 20px;
}

.treat .tableWraptxt__btnLong {
  width: 300px;
  margin: 30px auto;
}

.treat .tableWraptxt__btnLong input[type="submit"] {
  width: 280px;
  line-height: 2.5em;
}

.treat .tr01 {
  color: #fff;
  background-color: #14C35E;
}

.treat .time {
  color: #000;
}

.treat .access__ttl {
  padding-top: 0;
}

.treat .access__txt, .treat .access__txtParking {
  text-align: center;
}

.treat .access__txtParking {
  margin-top: 30px;
}

.treat .access__map iframe {
  width: 100%;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.treat .btn03 {
  margin: 30px auto 0;
}

.treat .footer {
  background-color: #E5F9ED;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 0;
}

.treat .footer__copy {
  text-align: center;
  padding: 30px 0;
}
/*# sourceMappingURL=style.css.map */