@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

header,
footer {
  background-color: #C57D86;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  color: #9C9CA1;
}

a {
  color: #F5EFEA;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

ul, ol {
  list-style: none;
}

.flex {
  display: flex;
}

/*========================
.wrapperの設定
======================== */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*========================
.headerの設定
======================== */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/*========================
.navの設定
======================== */
.nav__list {
  justify-content: space-around;
  text-align: center;
  margin: 0 100px;
}

.flex01 {
  font-size: 24px;
}

.flex01__item {
  flex: 1 1 20%;
  padding: 30px 0;
}

/*========================
ファーストビューFVの設定
======================== */
.fv {
  background-color: #E2BEBA;
}

.fv__inner {
  background-image: url(../images/cat01.png);
  background-repeat: no-repeat;
  background-size: 90% auto;
  background-position: right -120% bottom 40%;
  opacity: .3;
}

.fv__ttl {
  font-family: 'Dancing Script', cursive;
  padding: 310px 0 200px 0;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

span {
  font-size: 100px;
  font-weight: bold;
}

/*========================
Profileの設定
======================== */
.profile__introduction {
  line-height: 1.8em;
}

.profile__ttl {
  padding: 20px 0;
  margin: 30px 0;
  background-image: url(../images/catfootsteps.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center center;
}

.profile img {
  width: 300px;
  height: 250px;
  vertical-align: bottom;
}

.profile__flex {
  margin: 0 auto;
  max-width: 1000px;
}

.profile__h3 {
  padding: 10px 0;
}

.profile__h3 span {
  color: red;
  font-size: 20px;
}

.profile__flexL {
  margin-right: 50px;
}

.profile__introLong {
  margin: 35px auto 30px;
  max-width: 1000px;
}

p.indent {
  padding-left: 4em;
  text-indent: -４em;
}

/*========================
Worksの設定                                            
======================== */
.works {
  background-color: #F5F0EA;
  background-image: url(/images/cat02.png);
  background-position: right top;
  background-size: cover;
}

.works__ttl {
  padding: 50px 0;
}

.works__item {
  margin: 20px;
}

.works__item img {
  max-width: 100%;
  vertical-align: bottom;
}

/*========================
Skillsの設定
======================== */
.skills__ttl {
  padding: 50px 0;
  margin-top: 0;
}

.skills__period {
  text-align: center;
  padding: 50px;
}

.skills__ttlH3 {
  margin-left: 55px;
  margin-bottom: 40px;
}

.flexCoding__wrap,
.flexOffice__wrap,
.flexDesign__wrap {
  display: flex;
}

.flexCoding__container,
.flexOffice__container,
.flexDesign__container {
  flex-direction: column;
}

.flexCoding__LR,
.flexOffice__LR,
.flexDesign__LR {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-left: 50px;
  width: 550px;
}

.flexCoding__R,
.flexOffice__R,
.flexDesign__R {
  margin-left: 20px;
  margin-bottom: 30px;
}

.flexDesign__R {
  margin: 0 20px 30px 0;
}

.flexCoding__LR img,
.flexDesign__LR img,
.flexOffice__LR img {
  width: 80px;
  height: 80px;
}

.ttlDesign {
  text-align: right;
}

.cat02 {
  width: 30%;
  height: auto;
  margin: auto;
  opacity: .7;
}

.cat03 {
  width: 35%;
  height: auto;
  margin: 0 auto;
  opacity: .7;
}

/*========================
Contactの設定
======================== */
.contact {
  background-color: #F5EFEA;
  position: relative;
}

.form {
  padding: 1em;
  text-align: center;
}

.label {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.label p {
  text-align: left;
  display: inline-block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 400px;
  padding: 0.5em 1em;
  border: 2px solid #aaa;
  border-radius: 10px;
  margin: 10px 0 20px;
}

textarea {
  height: 11em;
  width: 500px;
}

input[type="submit"] {
  border-radius: 20px;
  background-color: #C57D86;
  color: #F5EFEA;
  width: 150px;
  height: 50px;
  font-weight: bold;
}

.required {
  color: red;
  font-size: 16px;
}

.contactBg {
  position: absolute;
  top: 610px;
  background-image: url(../images/cat04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 270px;
  opacity: .5;
}

/*========================
footerの設定
======================== */
.footer {
  height: 60px;
  text-align: center;
}

.copyright {
  line-height: 60px;
  color: #F5EFEA;
}
/*# sourceMappingURL=style.css.map */