@charset "utf-8";

//共通設定
$sp: 420px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;

  @include sp {
    font-size: 0.875rem;
  }
}

header,
footer {
  background-color: #C57D86;
}

section {
  margin-top: 70px;
  margin-bottom: 70px;

  @include sp {
    margin: 0;
  }
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  color: #9C9CA1;
}

span {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
 color: #F5EFEA;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

ul, ol {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/*========================
.wrapperの設定
======================== */
.wrapper {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;

  @include sp {
    width: 92%;
    margin: 0 auto;
  }
}

/*========================
.headerの設定
======================== */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;

  @include sp {
    height: auto;
    position: static;
  }
}

/*========================
.navの設定
======================== */
.nav {
  @include sp {
    flex-direction: column;
  }
  &__list {
    justify-content: space-around;
    text-align: center;
    margin: 0 100px;
  }
}

.flex01 {
  font-size: 24px;

  @include sp {
    font-size: 18px;
    flex-direction: column;
  }

  &__item {
   flex: 1 1 20%;
   padding: 1.5rem;

   @include sp {
     padding: 20px 0;
   }
  }
}

/*========================
ファーストビューFVの設定
======================== */
.fv {
  background-color: #E2BEBA;
  // position: relative;

  &__inner {
    background-image: url(../images/cat01.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right bottom;
    opacity: .3;

    @include sp {
      background-size: auto 60%;
      background-position: right bottom 30px;
    }
  }
  
  &__ttl {
    // color: #fff;
    font-family: 'Dancing Script', cursive;
    padding: 310px 0 200px 0;
    text-align: center;
    font-size: 45px;
    font-weight: bold;

    @include sp {
      padding: 100px 0;
      font-size: 30px;
    }
  }
}

.portfolio {
  font-size: 100px;

  @include sp {
    font-size: 70px;
  }
}

/*========================
Profileの設定
======================== */
.profile {
  &__introduction {
    line-height: 1.8em;
  }

  &__ttl {
    padding: 20px 0;
    margin: 30px 0;
    background-image: url(../images/catfootsteps.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: center center;
    // opacity: .4;                                          //グレーアイコンと差し替えたら消す
    @include sp {
      margin: 20px 0;
      background-size: 160px 160px;
    }
  }

// プロフィール 左側 顔写真
  // img {
  //   width: 300px;
  // }
  
  &__flex {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    margin-bottom: 80px;

    @include sp {
      flex-direction: column;
      margin-bottom: 50px;
    }
  }

  &__flexL {
    margin-right: 50px;
    @include sp {
      margin: 0;
    }
  }

     // 海外ドラマDVD
    &__flexRB {
      margin-top: 30px;  
    img {
      width: 20%;

      @include sp {
        width: 80px;
        }
      }
    }
    &__flexRB img:nth-child(4) {
      @include sp {
        display: none;
      }
    }
  }  //profile

//プロフィールshort
.introShort {
   &__h3 {
    @include sp {
      text-align: center;
    }
  }

  & p {
    @include sp {
      text-align-last: left;
    }
  }
} //.introShort

// その他
.others {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;

  @include sp {
    flex-direction: column;
    width: 100%;;
  }

  &__flexL,
  &__flexR {
    width: 50%;
    min-width: 350px;

    @include sp {
      width: 100%;
      min-width: unset;
    }
  }

  &__flexL {
    margin-right: 50px;
    line-height: 1.7;

    @include sp {
      margin-right: 0;
    }
  }
} //.others

//SPの時に「その他」「主な滞在場所」spanを中央寄せ
.othersTxt span,
.countries span {
  @include sp {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}

.countries {
  margin-top: 50px;
}

// 職歴と派遣就業
.jobs {
  width: 1000px;
  max-width: 100%;
  margin: 70px auto;
  
  @include sp {
    flex-direction: column;
    margin: 50px auto;
  }

  &__h3 {
    padding: 10px 0;
  }

  &__flexL,
  &__flexR {
    width: 50%;
    min-width: 350px;

    @include sp {
      width: 100%;
      min-width: unset;
    }
  }

  &__flexL {
    margin-right: 50px;
    line-height: 1.8;

    @include sp {
      margin-right: 0;
    }
  }

  &__history {
    @include sp {
      margin-bottom: 50px;
    }
  }

  &__history > p {
    @include sp {
      text-align: center;
    }
  }

  &__break {
    margin-top: 30px;

    @include sp {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }

  &__break > p {
    @include sp {
      text-align: center;
    }
    }
  } //.jobs

//職歴一覧table
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  @include sp {
    font-size: 14px;
    width: 95%;
    margin: 0 auto;
  }
}

th,
td {
  border: 1px solid #000;
  padding: .5em 1em;
}

thead {
  background-color: #36339c;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

// 知っておいて頂きたいことaboutme
.aboutme {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  background-color: #C57D86;
  color: #F5EFEA;
  padding: 2%;
  background-image: url(../images/woman.png);
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: left 7% top 2%;

  @include sp {
    flex-direction: column;
    background-size: 20% auto;
  }

  &__flexL,
  &__flexR {
    width: 50%;
    min-width: 350px;

    @include sp {
      width: 100%;
      min-width: unset;
    }
  }

  &__flexL {
    margin-right: 50px;

    @include sp {
      margin-right: 0;
    }
  }

  &__flexL .know {
    font-size: 24px;
  }

  &__flexL > div {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  &__flexL > div > p {
    letter-spacing: .3em;
    line-height: 1.5;

    @include sp {
      margin-top: 30px;
    }
  }

  &__flexL .num01 {
    margin-top: 100px;

    @include sp {
      margin-top: 30px;
    }
  }

  &__flexR {
    @include sp {
      padding-bottom: 50px;
    }
  }
  
  &__flexR .num02 {
    @include sp {
      margin-top: 30px;
    }
  }
   
  &__flexR .num03 {
    margin-top: 10px;

    @include sp {
      margin-top: 30px;
    }
  } 

  &__flexL .num01 > span,
  &__flexR .num02 > span,
  &__flexR .num03 > span {
    background-color: #F5EFEA;
    color: #C57D86;
    border-radius: 50%;
    padding: 8px;
    display: inline-block;
    margin-bottom: 5px;

    @include sp {
      padding: 5px;
    }
  }

}

/*========================
Worksの設定                                            
======================== */
.works {
  background-color: #F5F0EA;
  // margin-bottom: 50px;
  background-image: url(/images/cat02.png);
  background-position: right top;
  background-size: cover;
  padding-bottom: 70px;

  @include sp {
    padding-bottom: 0;
  }

  &__flex01,
  &__flex02 {
    @include sp {
      flex-direction: column;
    }
  }

  &__ttl {
    padding: 50px 0;

    @include sp {
      padding: 30px 0;
    }

    @include sp {
      margin-top: 0;
    }
  }

  &__item {
    margin: 20px;
    width: 30%;

    @include sp {
      margin: 0 auto 20%;
      width: 100%;
    }
  }

  &__item img {
    max-width: 100%;
    min-width: 200px;
    vertical-align: bottom;
  }
}

.works h3 {
  font-size: 18px;

  @include sp {
    font-size: 16px;
    text-align: center;
    padding: 0.5em;
  }
}

/*========================
Skillsの設定
======================== */
.skills {
  &__ttl {
    padding: 50px 0;
    margin-top: 0;

    @include sp {
      padding: 20px 0;
    }
  }

  &__period {
    text-align: center;
    margin-bottom: 50px;

    @include sp {
      margin-bottom: 30px;
    }
}

  &__ttlH3 {
    margin-bottom: 40px;

    @include sp {
      margin-bottom: 20px;
      text-align: center;
    }
}

.flexCoding {
  &__container {
    width: 70%;

    @include sp {
      width: 100%;
    }
  }
}

  .ttlDesign {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 50px;

    @include sp {
      margin-top: 20px;
      text-align: center;
    }
  }

  .ttlOffice {
    margin-top: 50px;

    @include sp {
      margin-top: 30px;
    }
  }
}

.flexDesign {
  &__wrap {
    align-items: center;
  }

  &__container {
    margin-top: 30px;
  }

  &__R {
    margin: 0 20px 30px 0;
    width: 100%;
  }
}

.flexCoding,
.flexOffice,
.flexDesign {
  &__wrap {
    display: flex;

    @include sp {
      display: block;
    }
    }

    &__LR {
      display: flex;
      align-items: flex-start;  //ロゴが間延びしたのを修正
      margin-bottom: 30px;
    }

    &__R {
      margin-left: 20px;
      margin-bottom: 30px;
    }
}

.flexCoding__LR img,
.flexDesign__LR img,
.flexOffice__LR img {
  width: 80px;
  height: auto;

  @include sp {
    width: 40px;
  }
}

.ttlDesign {
  text-align: right;
}

.cat02 {
  width: 25%;
  margin: auto;
  opacity: .7;

  @include sp {
    display: none;
  }
}

 .cat03 {
  width: 35%;
  margin: 0 auto;
  opacity: .7;

  @include sp {
    display: none;
  }
}

/*========================
Contactの設定
======================== */
.contact {
  background-color: #F5EFEA;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-bottom: 0;

  @include sp {
    padding-top: 0;
    padding-bottom: 20px;
  }

  &__wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
  }

  iframe {
    width: 100%;
  }
}

// Google formじゃないContact欄
// .contact {
//   background-color: #F5EFEA;
//   position: relative;
//   margin-bottom: 0;
// }

// .form {
//   padding: 1em;
//   text-align: center;
//   width: 1200px;
//   max-width: 100%;
// }

// .label {
//   margin: 0 auto 30px;
//   display: block;
//   text-align: center;
// }

// .label p {
//   text-align: left;
//   display: inline-block;
// }

// input[type="text"],
// input[type="email"],
// textarea {
//   width: 400px;
//   padding: 0.5em 1em;
//   border: 2px solid #aaa;
//   border-radius: 10px;
//   margin: 10px 0 20px;
// }

// textarea {
//   height: 11em;
//   max-width: 500px;
//   //width: 100%;
// }

// input[type="submit"] {
//   border-radius: 20px;
//   background-color: #C57D86;
//   color: #F5EFEA;
//   width: 150px;
//   height: 50px;
//   font-weight: bold;
// }

// .required {
//   color: red;
//   font-size: 16px;
// }

// .contactBg {
//   position: absolute;
//   top: 610px;
//   background-image: url(../images/cat04.png);
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 400px;
//    height: 270px;
//   opacity: .5;
// }


/*========================
footerの設定
======================== */
.footer {
  height: 60px;
  text-align: center;
}

.copyright {
  line-height: 60px;
  color:#F5EFEA;
}