@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

header,
footer {
  background-color: #C57D86;
}

section {
  margin-top: 70px;
  margin-bottom: 70px;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  color: #9C9CA1;
}

span {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: #F5EFEA;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

ul, ol {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/*========================
.wrapperの設定
======================== */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*========================
.headerの設定
======================== */
header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/*========================
.navの設定
======================== */
.nav__list {
  justify-content: space-around;
  text-align: center;
  margin: 0 100px;
}

.flex01 {
  font-size: 24px;
}

.flex01__item {
  flex: 1 1 20%;
  padding: 30px 0;
}

/*========================
ファーストビューFVの設定
======================== */
.fv {
  background-color: #E2BEBA;
}

.fv__inner {
  background-image: url(../images/cat01.png);
  background-repeat: no-repeat;
  background-size: 45% auto;
  background-position: right bottom;
  opacity: .3;
}

.fv__ttl {
  font-family: 'Dancing Script', cursive;
  padding: 310px 0 200px 0;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
}

.portfolio {
  font-size: 100px;
}

/*========================
Profileの設定
======================== */
.profile__introduction {
  line-height: 1.8em;
}

.profile__ttl {
  padding: 20px 0;
  margin: 30px 0;
  background-image: url(../images/catfootsteps.png);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center center;
}

.profile__flex {
  margin: 0 auto;
  max-width: 1000px;
  margin-bottom: 80px;
}

.profile__flexL {
  margin-right: 50px;
}

.profile__flexRB {
  margin-top: 30px;
}

.profile__flexRB img {
  width: 20%;
}

.others {
  max-width: 1000px;
  margin: 0 auto;
}

.others__flexL, .others__flexR {
  width: 50%;
  min-width: 350px;
}

.others__flexL {
  margin-right: 50px;
  line-height: 1.7;
}

.countries {
  margin-top: 50px;
}

.jobs {
  margin: 70px auto;
  max-width: 1000px;
}

.jobs__h3 {
  padding: 10px 0;
}

.jobs__flexL, .jobs__flexR {
  width: 50%;
  min-width: 350px;
}

.jobs__flexL {
  margin-right: 50px;
  line-height: 1.8;
}

.jobs__interview {
  margin-top: 50px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th,
td {
  border: 1px solid #000;
  padding: .5em 1em;
}

thead {
  background-color: #36339c;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

.aboutme,
.break {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutme {
  background-color: #C57D86;
  color: #F5EFEA;
  padding: 2%;
  background-image: url(../images/woman.png);
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: left 7% top 2%;
}

.aboutme__flexL, .aboutme__flexR {
  width: 50%;
  min-width: 350px;
}

.aboutme__flexL {
  margin-right: 50px;
}

.aboutme__flexL .know {
  font-size: 24px;
}

.aboutme__flexL > div {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.aboutme__flexL > div > p {
  letter-spacing: .3em;
  line-height: 1.5;
}

.aboutme__flexL .num01 {
  margin-top: 100px;
}

/*========================
Worksの設定                                            
======================== */
.works {
  background-color: #F5F0EA;
  background-image: url(/images/cat02.png);
  background-position: right top;
  background-size: cover;
  padding-bottom: 70px;
}

.works__ttl {
  padding: 50px 0;
}

.works__item {
  margin: 20px;
  width: 30%;
}

.works__item img {
  max-width: 100%;
  min-width: 200px;
  vertical-align: bottom;
}

.works h3 {
  font-size: 18px;
}

/*========================
Skillsの設定
======================== */
.skills__ttl {
  padding: 50px 0;
  margin-top: 0;
}

.skills__period {
  text-align: center;
  padding-bottom: 50px;
}

.skills__ttlH3 {
  margin-left: 55px;
  margin-bottom: 40px;
}

.skills .ttlDesign {
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 50px;
}

.skills .ttlOffice {
  margin-top: 50px;
}

.flexDesign__container {
  margin-top: 30px;
}

.flexCoding__wrap,
.flexOffice__wrap,
.flexDesign__wrap {
  display: flex;
}

.flexCoding__LR,
.flexOffice__LR,
.flexDesign__LR {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  margin-left: 50px;
  width: 550px;
}

.flexCoding__R,
.flexOffice__R,
.flexDesign__R {
  margin-left: 20px;
  margin-bottom: 30px;
}

.flexDesign__R {
  margin: 0 20px 30px 0;
}

.flexCoding__LR img,
.flexDesign__LR img,
.flexOffice__LR img {
  width: 80px;
  height: 80px;
}

.ttlDesign {
  text-align: right;
}

.cat02 {
  width: 30%;
  height: auto;
  margin: auto;
  opacity: .7;
}

.cat03 {
  width: 35%;
  height: auto;
  margin: 0 auto;
  opacity: .7;
}

/*========================
Contactの設定
======================== */
.contact {
  background-color: #F5EFEA;
  position: relative;
  margin-bottom: 0;
}

.form {
  padding: 1em;
  text-align: center;
}

.label {
  margin-bottom: 30px;
  display: block;
  text-align: center;
}

.label p {
  text-align: left;
  display: inline-block;
}

input[type="text"],
input[type="email"],
textarea {
  width: 400px;
  padding: 0.5em 1em;
  border: 2px solid #aaa;
  border-radius: 10px;
  margin: 10px 0 20px;
}

textarea {
  height: 11em;
  width: 500px;
}

input[type="submit"] {
  border-radius: 20px;
  background-color: #C57D86;
  color: #F5EFEA;
  width: 150px;
  height: 50px;
  font-weight: bold;
}

.required {
  color: red;
  font-size: 16px;
}

.contactBg {
  position: absolute;
  top: 610px;
  background-image: url(../images/cat04.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 270px;
  opacity: .5;
}

/*========================
footerの設定
======================== */
.footer {
  height: 60px;
  text-align: center;
}

.copyright {
  line-height: 60px;
  color: #F5EFEA;
}
/*# sourceMappingURL=style.css.map */