@charset "utf-8";

/*共通設定
----------------------------------------*/
$sp420: 420px;
@mixin sp420 {
  @media (max-width: ($sp420)) {
    @content;
  }
}

$tab900: 900px; 
@mixin tab900 {
  @media (max-width: ($tab900)) {
    @content;
  }
}

$tab768: 768px; 
@mixin tab768 {
  @media (max-width: ($tab768)) {
    @content;
  }
}

$main_color:#fff; 
$sub_color:#FFFAF2;
$accent_color:#14C35E;

.wrapper {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

 .section {
  margin-top: 80px;
  margin-bottom: 20px;

  @include sp420 {
    margin-top: 40px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

//各セクションタイトル
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 50px;
  text-align: center;
  
  @include tab900 {
    font-size: 20px;
  }
  
  @include sp420 {
    font-size: 16px;
    padding-top: 30px;
    margin-bottom: 0;
  }
}

//各セクションタイトル左側のあしらい
.h2deco {
  border-left: 3px dotted $accent_color;
  padding-left: 7px;
}

h3 {
  font-size: 18px;
  margin: 20px 20px 30px 20px;
  text-align: center;
  
  @include sp420 {
    font-size: 16px;
  }
}

.h3deco {
  border-bottom: 3px dotted $accent_color;
  padding-bottom: 5px;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  
  @include sp420 {
    font-size: 0.875rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  opacity: .5;
}

input:hover {
  color: red;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
/*------共通設定ここまで------------------*/

/*  ボタン
----------------------------------------*/
.btn {
  font-size: 1.2rem;
  width: 170px;
  height: 70px;
  background: $accent_color;
  color: $main_color;
  border-radius: 20px;
  padding: 10px 10px;
  text-align: center;

  // 中のテキストを上下中央寄せ
  display: flex;
  justify-content: center;
  align-items: center;

  @include tab900 {
    font-size: 1rem;
    margin: 0 auto;
    width: 150px;
    height: 65px;
  }

  @include sp420 {
    margin: 0 auto;
    width: 130px;
    height: 60px;
    padding: 8px;
  }
}

/*  ヘッダー・nav
--------------------------------------*/
.header {
  background: #A8DBA8;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  
   @include tab768 {
     padding: .5em 1.5em;
     height: 75px;
     //position: static;
   }

   &__inner {
     width: 1200px;
     max-width: 100%;

     @include tab768 {
       //flex-direction: column;
       display: none;
     }
   }

   &__ttl {
     width: 260px;
     height: auto;

    @include tab900 {
      width: 240px;
      margin: 0 auto;
    }
   }
}

.nav-right {
  display: flex;

@include tab768 {
  flex-direction: column;
}
  // @include sp420 {
  //   flex-direction: column;
  // }
}

.nav {
  align-items: center;

  @include tab768 {
    display: block;
  }
  // @include sp420 {
  //   display: block;
  // }

  &__list {
    @include tab768 {
      flex-direction: column;
      text-align: center;
    }
  }

  &__item {
    padding: 15px 14px;
    font-size: 18px;

    @include tab768 {
      padding: 10px;
      font-size: 16px;
    }

    @include sp420 {
      padding: 10px 0;
    }
  }

  &__link {
    padding: .8em 0px .8em 1em;
    display: block;
    //color: #555;
  }
}

// Web予約のボタン
input[type="number"],
select {
  border: 1px solid #79BD9A;
  border-radius: 5px;
  padding: .5em;
  background: #fff;
}

.btnMenu {
  width: 50px;
  height: 50px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #555;
  border-radius: 5px;
  margin-left: auto;
}

// tab768以下のナビゲーション
.header2-h1 {
  display: none;

  @include tab768 {
    display: block;
    width: 230px;
  }
}

#hamburger {
display: none;

  @include tab768 {
  position: relative;
  display: block;
  width: 30px;
  height: 25px;
  margin: 15px 0 15px auto;
  }
}

#hamburger span {
  display: none;

  @include tab768 {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: translateY(-50%);
  }
}

#hamburger::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

#hamburger::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #fff;
}

.sp-nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, .8);
  transition: all .2s ease-in-out;
  opacity: 0;
  transform: translateY(-100%);
}

.sp-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sp-nav li {
  margin: 0;
  padding: 0;
}

.sp-nav li span {
  font-size: 15px;
  color: #fff;
}
.sp-nav li a, .sp-nav li span {
  display: block;
  padding: 20px 0;
  color: #fff;
}

/*基準となるli要素*/
.sp-nav .close {
  position: relative;
  padding-left: 20px;
}
/*バツ印線1*/
.sp-nav .close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( 45deg );
}

/*バツ印線2*/
.sp-nav .close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( -45deg );
}

.toggle {
  transform: translateY( 0 );
  opacity: 1;
}


/*  ファーストビューFV
-------------------------------------*/
img {
  width: 100vw;
  }

/*  当院について about
-------------------------------------*/
.about {
  margin-top: -10px;
  
  &__ttl {
    margin-top: 0;
  }
  
  &__txt {
    padding: 20px 30px;
    text-align: center;
  }
}

/*  託児サービス kidsSvc
--------------------------------*/
.kidsSvc {
  margin-top: 0;
  background-color:$sub_color;
  
  p {
    padding: 20px 30px;
    text-align: center;
  }

  img {
    padding-bottom: 80px;
    width: 80%;
    display: block;
    margin: 0 auto;

    @include sp420 {
      padding-bottom: 40px;
    }
  }
}


/*  診療案内 treatInfo
--------------------------------*/
.treatInfo {
  margin-top: 30px;
}

.treatInfo h2 {
  padding-top: 0;
  margin-bottom: 50px;

  @include sp420 {
    margin-bottom: 0;
  }
}

.treat {
  @include tab768 {
    flex-wrap: wrap;
    // flex-direction: column;
  }

  @include sp420 {
    flex-direction: column;
  }

  &__01,
  &__02,
  &__03{
    width: 30%;

    @include tab768 {
      width: 47%;
    }

    @include sp420 {
      width: 100%;
      margin-top: 50px;
    }

   h3 {
     @include sp420 {
       margin: 10px 0;
     }
   }
  }

  &__01 p,
  &__02 p,
  &__03 p {
    padding: 0 30px;
  }

  &__01 img,
  &__02 img,
  &__03 img {
    @include sp420 {
      width: 90%;
      display: block;
      margin: 0 auto;
    }
  }

  &__03 {
    @include tab768 {
      margin-top: 50px;
    }
  }
}

/*  診療時間 hours
--------------------------------*/
.hours {
  background-color: $sub_color;
  padding-bottom: 50px;

  @include sp420 {
    padding-bottom: 30px;
  }
}

// 診療時間一覧 table
.tableWrap {
  //width: 400px;
  max-width: 100%;
  overflow-x: auto;
  margin: 0 auto;
}

table {
  // width: 100%;
  // border-collapse: collapse;
  // color: $accent_color;
  margin-top: 10px;
  max-width: 400px;
  margin: 0 auto;
}

table,
td,
th {
  text-align: center;
}

th {
  color: #fff;
  padding: 4px 12px;
}

td {
  background: #f5f6f8;
  padding: 4px 12px;
}

table th,
table td {
  border:none;
  padding: 30px;
}

.tableWraptxt {
  max-width: 100%;
  margin: 0 auto;

  &__scroll {
    margin-top: 10px;
    margin-left: 19%;
  }

  &__txt {
    text-align: center;
    margin-top: 20px;
  }

  &__btnLong {
    width:300px;
    margin: 30px auto;
  }

  &__btnLong input[type="submit"] {
    width: 280px;
    line-height: 2.5em;
  }
}

.tr01 {
  color: #fff;
  background-color: $accent_color;
}

.time {
  color: #000;
}



/*  アクセス
--------------------------------*/
.access {
  &__ttl {
    padding-top: 0;
  }

  &__txt,
  &__txtParking {
    text-align: center;
  }

  &__txtParking {
    margin-top: 30px;
  }

  &__map iframe {
    width: 100%;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.btn03 {
  margin: 30px auto 0;
}

/*  フッター
--------------------------------*/
.footer {
  background-color:#E5F9ED;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 0;
  width: 100%;

  &__copy {
    text-align: center;
    padding: 30px 0;
  }
}
